.main_products {
  width: 100%;
  margin-top: 30px;
  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #333333;
      cursor: pointer;
      padding-bottom: 5px;
      border-bottom: 3px solid #a1d214;
    }
    a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      cursor: pointer;
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        cursor: pointer;
        transition: 0.2s linear all;
        &:hover {
          color: #a1d214;
          font-weight: bold;
        }
      }
    }
  }
  .main_products_section {
    width: 100%;
    margin-top: 20px;
    .wrapper_main_products_section {
      width: 100%;
      .slick-slider {
        width: 100%;
        .slick-arrow {
          background: #ffffff;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          width: 27px;
          height: 72px;
          top: 38%;
          z-index: 2;
          transition: 0.2s linear all;
          &:hover {
            background-color: #a1d214;
          }
        }
        .slick-prev {
          left: 20px;
        }
        .slick-next {
          right: 20px;
        }
        .slick-prev:before {
          content: "<";
          color: #333333;
          font-size: 15px;
          font-weight: bold;
        }

        .slick-next:before {
          content: ">";
          color: #333333;
          font-size: 15px;
          font-weight: bold;
        }

        .slick-list {
          width: 100%;
          .slick-track {
            .slick-slide {
              width: 100%;

              div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 15px;
                padding: 5px;
                .for_image {
                  width: 100%;
                  height: 250px;
                  position: relative;
                  &:hover {
                    .for_favourites {
                      display: flex;
                    }
                  }

                  a {
                    text-decoration: none;
                    width: 100%;
                    img {
                      width: 100%;
                      height: 250px;
                      border-radius: 10px;
                      border: 1px solid rgba(51, 51, 51, 0.05);
                      cursor: pointer;
                      transition: 0.2s linear all;
                      &:hover {
                        filter: brightness(0.7);
                      }
                    }
                  }
                  .for_favourites {
                    width: 180px;
                    height: 30px;
                    background-color: crimson;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    cursor: pointer;
                    transition: 0.2s linear all;
                    z-index: 3;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    &:hover {
                      background-color: red;
                    }
                  }
                }
                .for_info {
                  width: 100%;
                  a {
                    text-decoration: none;
                    margin-bottom: 0;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #333333;
                    cursor: pointer;
                    transition: 0.2s ease all;
                    &:hover {
                      color: #a1d214;
                    }
                  }
                }
                .ingredients {
                  flex-grow: 1;
                  width: 100%;
                  height: 35px;
                  background: #a1d214;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-family: "Montserrat", sans-serif;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 12px;
                  line-height: 15px;
                  color: #333333;
                  cursor: pointer;
                  transition: 0.2s linear all;
                  &:hover {
                    background-color: #ffffff;
                    border: 1px solid #a1d214;
                    color: #a1d214;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .main_products {
    .main_products_section {
      .wrapper_main_products_section {
        .swiper {
          .swiper-slide {
            .for_image {
              height: 330px;
              a {
                width: 100%;
                height: 330px;
                img {
                  height: 330px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .main_products {
    .main_products_section {
      .wrapper_main_products_section {
        .swiper {
          .swiper-slide {
            .for_image {
              height: 250px;
              a {
                width: 100%;
                height: 250px;
                img {
                  height: 250px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .main_products {
    .main_products_section {
      .wrapper_main_products_section {
        .swiper {
          .swiper-slide {
            .for_image {
              height: 200px;
              a {
                width: 100%;
                height: 200px;
                img {
                  height: 200px;
                }
              }
            }
          }
          .swiper-button-prev {
            top: 28%;
          }
          .swiper-button-next {
            top: 28%;
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .main_products {
    margin-top: 50px;
  }
} ;
